
*{
	font-family: Calibri Light;
}

.main-section{
	margin:0 auto;
	padding: 20px;
	margin-top: 100px;
	background-color: #fff;
	box-shadow: 0px 0px 20px #c1c1c1;
}
#custom_card{
	background-color:grey;
	color:#fff;
	padding:10px;
}
#custom_card2{
    border-color:#000;
	color:rgb(0, 0, 0);
	padding:10px;
}

body{
background:white;
height:90vh;
width:100%;
justify-content: center;
text-align:center;

}

h1{
text-align:center;
color: 	rgb(49, 49, 49);
margin-bottom:30px;
margin-top:10px;

}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #235d9b;
    color: white;
    text-align: center;
    height: 70px;
    align-items:center;
    justify-content: center;
    line-height: 70px;
 }

.Input{
height:45px;
width:230px;
margin-left:10px;
border:2px;
margin-bottom:5px;
background:transparent;
border-bottom:1px solid rgb(35, 193, 227);
font-size:19px;
color:rgb(49, 49, 49);
padding-left:8px;

}

::placeholder{
color:rgb(50,50,50);
font-size:20px;
padding-left:10px;

}

.pred-btn{
text-align:center;
height:60px;
width:150px;
margin-left:20px;
font-size:25px;
background:linear-gradient(to left top,rgb(35, 193, 227),rgb(209, 73, 212)100%);
color:white;
margin-top:10px;
border:2px solid white;
border-radius:30px;


}
.pred-btn:hover{
background:linear-gradient(to right,rgb(209, 73, 212),rgb(35, 193, 227));
color:black;
border:2px solid black;
}

select option{
color:black
}

h3{
font-size:20px;
color:rgb(52, 52, 52);
text-align:left;
margin-left:35px;
}

h2{
text-align:left;
color:black;
margin-left:35px;
}

.model_desc{
width:250px;
color:white;
font-size:17px;
float:left;
font:Calibri;
padding:10px;
display:inline-box;
line-height: 1.1em;
height:420px;
margin-left:20%;
margin-top:90px;
margin-bottom:10px;
text-align: left;
border-top-left-radius:30px;
border-bottom-left-radius:30px;
background:rgb(209, 73, 212);
}

.data_part{
margin-top:90px;
margin-left:20%;
border-left:2px solid white;
width:500px;
margin-left:0px;
float:left;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
background:white;
height:420px;
padding:10px;
}

.model_desc2{
  display: none;
}

.title {
  font-size: 405x;
  color: #333333;
  margin: 10px 0;
}
.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work .i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 25px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-heading1 {
  font-size: 20px;
  color: #333333;
  margin: 10px 0;
}
.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.achievements .work .h3 {
    font-size:20px;
    color:rgb(52, 52, 52);
    text-align:left;
    margin-left:35px;
        
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me-text h2 {
  font-size: 35px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 20px;
  color: #585858;
  margin: 10px 0;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.button {background-color: #e7e7e7; color: black; border-radius: 12px; transition-duration: 0.4s;}

.button:hover {
  background-color: #673AB7;
  color: white;
}